*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    position: absolute;
    left: 10%;
    top: 35%;
    color: white;
}
.bg{
    position: relative;
}
.b-img{
    position: relative;
}
.word{
    position: absolute;
    top: 170px;
    color: white;

}
.b-img:hover{
    opacity: 0.7;
}
.b-img:hover .word{
    display: none;
}